a {
    position: absolute;
    top: 166px;
    left: 266px;
    font-size: 62px;
    color: black;
    text-decoration: none;
}

.first-image{
    position: absolute;
    top: 160px;
    left: 70px;
}