@font-face {
    font-family: 'OngleipRyuryu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.box1 {
    position: fixed;
    top: 130px;
    left: 266px;
}

.text1 {
    font-size: 31px;
    color: black;
    text-decoration: none;
    font-family: 'OngleipRyuryu';
}

.text2 {
    font-size: 25px;
    color: rgb(135, 135, 135);
    text-decoration: none;
    font-family: 'OngleipRyuryu';
}

.box2 {
    position: fixed;
    width: 1420px;
    top: 300px;
    left: 80px;
    background-color: aqua;
}

.text3 {
    font-size: 31px;
    color: black;
    text-decoration: none;
    font-family: 'OngleipRyuryu';
}

.text4 {
    font-size: 27px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-family: 'OngleipRyuryu';
    width: 859px;
}

.first-image {
    position: fixed;
    top: 160px;
    left: 75px;
    width: 100px;
}

.second-image {
    position: fixed;
    top: 560px;
    left: 1200px;
    width: 40px;
}

.third-image {
    position: fixed;
    top: 160px;
    left: 1302px;
    width: 425px;
}