body{
    margin: 0;
}

.first-image{    
    filter: blur(17px); /* 블러 효과 적용 */
    position: fixed;
    height: 55vw;
    width: 110vw;
    left: -2%;
}

.second-image{
    width: 30vw;
    position: fixed;
    z-index: 99;
    margin-top: 85px;
    margin-left: 200px;
}